/* START root-variables */
:root{
    /* START caça-níqueis */
        /* START background & Details */
        --primary-background-color: #001233;
        --secondary-background-color: #001845;
        --secondary-detail-color: #0466C8;
        --primary-detail-color: #0353A4;
        /* END background & Details */

        /* START neon-box */
        --primary-neon-color: #59E2FF;
        --primary-neon-shadow: ;
        --secondary-neon-shadow: ;
        /* END neon-box */
    /* START caça-níqueis */

    /* START caça-palavra */
    --font-size-title1: 26px;
    --font-size-title2: 22px;
    --font-size-title3: 18px;
    --font-size-paragraph: 16px;
    --font-size-small: 14px;
    --font-size-caption: 12px;
    /* START caça-palavra */
}
/* END root-variables */