/* START imports */
/* END imports */

/* START general */

        .flex{
            display: flex;
        }
        .flex--col{
            display: flex;
            flex-direction: column;
        }
        
/* END general */

/* START html */
/* END html */

/* START body */

/* END body */

/* START header */
/* END header */

/* START main */

        .game2{}
        .game2__div{
            align-items: center;
            justify-content: center;
            width: 500px;
            height: 300px;
            background-color: #ffb109;
            margin: 0 auto;
        }
        .machine--background{
            align-items: center;
            justify-content: center;
            width: 460px;
            height: 260px;
            background-color: #dfc901;
        }
        .game--background--black{
            align-items: center;
            justify-content: space-around;
            width: 420px;
            height: 220px;
            background-color: black;
        }
        .screen--box{
            align-items: center;
            border: 2px solid white;
            height: 80%;
            background-color: white;
        }
        .img--background--white{
            background-image: url(/assets/img/wheel-edit.png);
            width: 120px;
            height: 120px;
        }

/* END main */

/* START footer */
/* END footer */

/* START extras */
    /* START switch */
        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        
        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        input:checked + .slider {
            background-color: #2196F3;
        }
        
        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
        
        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }
        
        .slider.round:before {
            border-radius: 50%;
        }
    /* END switch */
/* END extras */

/* START media queries */
/* END media queries */