/* START imports */
    @font-face {
        font-family: "Fortnite";
        src: url(/assets/fonts/font-fortnite.ttf);
    }

    @font-face {
        font-family: "GameCube";
        src: url(/assets/fonts/GameCube.ttf)
    }

    @font-face {
        font-family: "White Dream";
        src: url(/assets/fonts/font-title-jackpot.otf);
    }

    @import url(./root-variables.css);
/* END imports */

/* START root-variables */
    :root{
        /* START caça-palavra */
            /* START background & Details */
            --primary-color-bg-word-seek: #FFE6A7;
            --secondary-color-bg-word-seek: #BB9457;
            --primary-color-detail-word-seek: #432818;
            --secondary-color-detail-word-seek: #6F1D1B;
            /* END background & Details */
        /* START caça-palavra */

        /* START caça-níqueis */
            /* START background & Details */
            --primary-color-bg-slot-machine: #001233;
            --secondary-color-bg-slot-machine: #001845;
            --primary-color-detail-slot-machine: #0353A4;
            --secondary-color-detail-slot-machine: #0466C8;
            /* END background & Details */

            /* START neon-box */
            --primary-box-shadow-neon: inset 0 0 20px #59e2ff, 0 0 20px #59e2ff;
            --secondary-box-shadow-neon: inset 0 0 20px red, 0 0 20px red;
            /* END neon-box */
        /* START caça-níqueis */
    }
/* END root-variables */

/* START general */
    .flex--row{
        display: flex;
        flex-flow: row wrap;
    }
    
    .flex--col{
        display: flex;
        flex-flow: column nowrap;
    }

    .hide{
        display: none;
    }

    .show{
        display: block;
    }
/* END general */

/* START html */
    html{}
/* END html */

/* START body */
    body{
        width: 100vw;
        height: 100vh;
    }
/* END body */

/* START header */
    .header{
        align-items: center;
        justify-content: center;
        background-color: #3d3f41;
        width: 100%;
        height: 90px;
    }

    .header__figure{
        justify-content: center;
        align-items: center;
    }

    .figure--logo-image{
        width: 60px;
        height: 60px;   
    }

    .figure--logo-title{
        font-family: "GameCube", sans-serif;
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        color: white;
        margin-left: 15px;
    }    
/* END header */

/* START main */
    .main{
        height: 100%;
    }

    .main__information{
        font-family: "Fortnite", sans-serif;
    }

    .information--title-area{}

    .information--title{
        font-size: 50px;
        text-align: center;
        color: #979DAC;
        margin: 15px 0;
    }
    
    .information--word-play{}

    .information--word-games{}

    .information--games-area{
        padding: 5%;
    }

    .information--games-meaning{}

    .information--games-title{
        font-size: 25px;
        margin-bottom: 15px;
    }

    .information--games-paragraph{
        letter-spacing: 1.5;
        line-height: 1.25;
        margin-bottom: 15px;
    }

    .information--games-paragraph:last-child{
        margin-bottom: 30px;
    }

    .main__mobile{ 
        padding: 25px 25px;
    }

    .information--mobile{
        margin: 30px 0;
        padding: 0 5%;
    }

    .information--mobile-msg{
        font-family: "Fortnite", sans-serif;
        font-size: 25px;
        font-weight: bolder;
        text-align: center;
    }

    .main_games{
        display: none;
    }

    .games--hunting-words{
        width: 100%;
        height: 85%;
    }

    .hunting-words--floor{
        justify-content: center;
        align-items: center;
        background-image: url(../img/caça-palavras/floor-grantite.jpg);
        width: 100%;
        height: 100%;
    }

    .hunting-words--table{
        justify-content: center;
        align-items: center;
        background-image: url(../img/caça-palavras/wood.jpg);
        border-radius: 10px;
        width: 97.5%;
        height: 97.5%;
    }

    .hunting-words--newspapper{
        background-image: url(../img/caça-palavras/paper.jpg);
        width: 95%;
        height: 90%;
    }

    .hunting-words--newspapper-title{
        font-family: "Cormorant Garamond", serif;
        text-align: center;
        border-bottom: 4px double black;
        padding: 2% 0;
        margin: 0 3%;
    }

    .title--text{
        font-size: 25px;
        font-weight: bold;
    }

    .hunting-words--newspapper-game{
        justify-content: space-between;
        text-align: center;
        height: 80%;
    }

    .game-pre{}

    .game--data{
        display: block;
        font-size: 11px;
        margin-top: 5px;
    }

    .game--title{
        font-size: 16px;
        font-family: "Architects Daughter";
        text-transform: uppercase;
        margin: 5px 0;
    }

    .game-area{
        justify-content: space-between;
        margin: 0 20px;
        height: 74%; 
    }

    .game--board{
        display: inline-block;
        margin-left: 20px;
        border: 2px solid black;
        width: 60%;
        height: 100%;
    }

    .game--words{
        display: inline-block;
        margin-right: 20px;
        border: 2px solid black;
        width: 20%;
        height: 100%;
    }

    .games--slot-machine{
        background-color: var(--primary-color-bg-slot-machine);
        width: 100%;
        height: 85%;
    }

    .slot-machine--title{
        text-align: center;
        color: yellow;
        font-size: 30px;  
        font-family: "White Dream", serif;
        text-shadow: 0 0 15px #FFF, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px #49FF18;
        padding-top: 2.5%;
    }

    .slot-machine--outer-frame{
        position: relative;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 200px;
        border: 5px solid #59e2ff;
        box-shadow: var(--primary-box-shadow-neon);
        border-radius: 35%;
        margin: 0 auto;
        margin-top: 15px;
    }
    
    .slot-machine--lights{
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border: 18px dotted red;
        border-radius: 35%;
        width: 285px;
        height: 135px;
    }

    .slot-machine--inner-frame{
        align-items: center;
        justify-content: center;
        box-shadow: var(--primary-box-shadow-neon);
        border: 5px solid #59e2ff;
        border-radius: 80px;
        width: 250px;
        height: 100px;
    }

    .slot-machine--screen{
        align-items: center;
        justify-content: space-evenly;
        width: 95%;
        height: 65%;
    }

    .slot-machine--screen-slot{
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
    }

    .slot--image{
        width: 100%;
        height: 100%;
    }

    .slot-machine--screen-bar{
        box-shadow: var(--primary-box-shadow-neon);
        border: 2.5px solid #59e2ff;
        border-radius: 10px;
        height: 75%;
    }

    .slot-machine--coupling{
        position: absolute;
        transform: translate(205px,0);
        border: 5px solid #59e2ff;
        border-radius: 10%;
        box-shadow: var(--primary-box-shadow-neon);
        width: 50px;
        height: 60px;
    }

    .slot-machine--lever-rod{
        position: absolute;
        transform-origin: bottom center;
        transform: translate(10px,-75px);
        border: 5px solid #59e2ff;
        border-radius: 30px;
        box-shadow: var(--primary-box-shadow-neon);
        width: 25px;
        height: 100px;
    }
    
    .slot-machine--lever-rod.animation{
        animation-name: rod-animation;
        animation-duration: 1s;
        animation-delay: 0.25s;
        animation-iteration-count: 2;
        animation-direction: alternate;
    }
    
    .slot-machine--lever-grab{
        position: absolute;
        transform: translate(-5px,-115px);
        font-family: "White Dream", serif;
        font-size: 10px;
        font-weight: 700;
        text-shadow:  0 0 15px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 55px red, 0 0 75px red;
        background: var(--primary-color-bg-slot-machine);
        color: red;
        border: 5px solid red;
        border-radius: 100%;
        box-shadow: var(--secondary-box-shadow-neon);
        width: 65px;
        height: 65px;
    }

    .slot-machine--lever-grab.animation{
        box-shadow: inset 0 0 20px red, 0 0 40px red, 0 0 55px red;
        animation-name: grab-animation;
        animation-duration: 1s;
        animation-delay: 0.25s;
        animation-iteration-count: 2;
        animation-direction: alternate;
    }

/* END main */

/* START footer */
        .footer{
            font-family: "Fortnite",sans-serif;
            font-size: 16px;
            text-align: center;
            letter-spacing: 1.5px;
            line-height: 1.25;
            background-color: #3d3f41;
            color: white;
            padding: 10px;
            max-width: 100%;
        }

        .footer_autor{
            margin-bottom: 10px;
            padding: 5px;
        }

        .footer_copyright{}
/* END footer */

/* START extras */
    /* START switch */
        .games--switch{
            justify-content: center;
            align-items: center;
            background-color: #3d3f41;
            width: 100%;
            height: 15%;
        }

        .games--title{
            font-family: "Fortnite", sans-serif;
            font-size: 20px;
            color: white;
            margin-right: 15px;
        }
        
        .games--button {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        
        .button-input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        .button--slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .button--slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .button-input:checked + .button--slider {
            background-color: #2196F3;
        }
        
        .button-input:focus + .button--slider {
            box-shadow: 0 0 1px #2196F3;
        }
        
        .button-input:checked + .button--slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
        
        .button--slider.round {
            border-radius: 34px;
        }
        
        .button--slider.round:before {
            border-radius: 50%;
        }
    /* END switch */

    /* LIGHT ANIMATION */

    /*
        animation-name: light-animation;
        animation-duration: 0.2s;
        animation-iteration-count: infinite;
    */
    
    /* START lights-animations */
    @keyframes light-animation {
        from {background-color: red;}
        to {background-color: yellow;}
        }
    /* END lights-animations */

    /* START lever-animations */
    @keyframes grab-animation {
        0% {transform: translate(-5px,-115px);}
        100% {transform: translate(-5px,-15px);}
    }

    @keyframes rod-animation {
        0% {transform: translate(10px,-75px) rotateX(0turn);}
        100% {transform: translate(10px,-75px) rotateX(0.26turn);}
    }
    /* END lever-animations */
/* END extras */

/* START media queries */
    @media only screen and (orientation: landscape){
        /* START header */
            .header{
                display: none;
            }
        /* END header */

        /* START main */
            .main__information{
                display: none;
            }

            .main_games{
                display: block;
                width: 100%;
                height: 100%;
            }
        /* END main */

        /* START footer */
            .footer{
                display: none;
            }
        /* END footer */
    }
/* END media queries */